<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aou Callender</title>
    <link rel="stylesheet" href="/css/home/calendar.css" />
    <style>
      img{float: left;}
      .asdfasdf:hover {
        background-color: grey;
        .btn2 {
          background-color: grey;
        }
      }
    </style>
  </head>
<body>
  <img src="https://github.com/gogo1414/Aou_Calendar/blob/main/Ultron%20image.png" width="50" height="50">
    <h1 class="title">Aou calendar</h1>
    <div class='rap', style="width: 65%; height: 750px; border:2px solid rgb(220, 219, 219); float: left;">
        <div class="header">
           <div class="btn prevDay"></div>
          <h2 class='dateTitle'></h2>
          <div class="btn nextDay"></div>
        </div>
        
        <div class="grid dateHead">
          <div>SUN</div>
          <div>MON</div>
          <div>TUE</div>
          <div>WED</div>
          <div>THU</div>
          <div>FRI</div>
          <div>SAT</div>
        </div>
    
        <div class="grid dateBoard"></div>
      </div>
    </div>
    <div style="width: 45%; height:800px; border:2px solid rgb(220, 219, 219); float: right;">
    </div>  
    <script src="/js/home/calendar.js"></script>
</body>
</html>