<!DOCTYPE html>
<html lang="ko">
<head>
    <style>
        body{
          background-image: url("https://github.com/tkddhks03/forweb/blob/main/calback.png?raw=true"); background-attachment: fixed;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://github.com/JiyunElizabethYang/Smarcle-Farm/blob/main/KakaoTalk_20230804_152124244.png?raw=true"/>
    <title>Aou calendar</title>
    <link rel="stylesheet" href="/css/home/login.css" />
</head>
<body>
    <div class="login-wrapper">
        <h2 style="color: black !important;">Login</h2>
        <div id="login-form">
            <input id="id" type="text" placeholder="Id">
            <input id="psword" type="password" placeholder="Password">
            <button style="background-color: black;">Login</button>
        </div>
        <form method="get" action="/join" id="join-form">
            <input id="newacc" type="submit" value="회원가입" style="cursor: pointer; background-color: white;" style>
        </form>
    </div>
</body>
</html>
    <script src="/js/home/login.js" defer></script>