<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aou calendar</title>
    <link rel="stylesheet" href="/css/home/login.css" />
</head>
<body>
    <div class="login-wrapper">
        <h2>Login</h2>
        <div id="login-form">
            <input id="id" type="text" placeholder="Id">
            <input id="psword" type="password" placeholder="Password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check">아이디 저장하기
            </label>
            <button>Login</button>
        </div>
        <form method="get" action="/join" id="join-form">
            <input type="submit" value="회원가입">
        </form>
    </div>
    <script src="/js/home/login.js" defer></script>
</body>
</html>