<!DOCTYPE html>
<html lang="ko">
<head>
    <style>
        body{
          background-image: url("https://github.com/tkddhks03/forweb/blob/main/calback.png?raw=true"); background-attachment: fixed;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://github.com/JiyunElizabethYang/Smarcle-Farm/blob/main/KakaoTalk_20230804_152124244.png?raw=true"/>
    <title>Aou Calendar Join</title>
    <link rel="stylesheet" href="/css/home/join.css">
</head>
<body>
    <div class="member">
        <!-- 1. 로고 -->
        <h1 class="logo">Aou Calendar</h1>
        <!-- 2. 필드 -->
        <div class="field">
            <b>아이디</b>
            <span class="placehold-text"><input id="id" type="text"></span>
        </div>
        <div class="field">
            <b>비밀번호</b>
            <input id="psword" class="userpw" type="password">
        </div>
        <div class="field">
            <b>비밀번호 재확인</b>
            <input id="confirm-psword" class="userpw-confirm" type="password">
        </div>
        <div class="field">
            <b>이름</b>
            <input id="name" type="text">
        </div>

        <!-- 3. 필드(생년월일) -->
        <div class="field birth">
            <b>생년월일</b>
            <div>
                <input id="year" type="number" placeholder="년(4자)">                
                <select id="month" type="submit">
                    <option value="">월</option>
                    <option value="1">1월</option>
                    <option value="2">2월</option>
                    <option value="3">3월</option>
                    <option value="4">4월</option>
                    <option value="5">5월</option>
                    <option value="6">6월</option>
                    <option value="7">7월</option>
                    <option value="8">8월</option>
                    <option value="9">9월</option>
                    <option value="10">10월</option>
                    <option value="11">11월</option>
                    <option value="12">12월</option>
                </select>
                <input id="day" type="number" placeholder="일">
            </div>
        </div>

        <!-- 4. 이메일 -->
        <div class="field">
            <b>본인 확인 이메일<small>(선택)</small></b>
            <input type="email" placeholder="선택입력">
        </div>

        <!-- 5. 가입하기 버튼 -->
        <button id="join-btn">가입하기</button>
        
    </div>
    <script src="/js/home/join.js" defer></script>
</body>
</html>